body {
  background-color: whitesmoke;
}

h1 {
  color: #531116;
}

h2 {
  margin-bottom: 10px;
  color: #012e1f;
  text-align: center;
  display: flex;
  position: relative;
  left: 110px;
  padding-bottom: 20px;
  padding-top: 20px;
}

footer {
  display: flex;
  position: relative;
  top: 190px;
}
.search-bar {
  background-color: #dad4cf;
  padding-right: 100px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: #e0891f;
}

.description {
  color: black;
  display: flex;
  justify-content: center;
  position: relative;
  top: -5px;
  font-weight: bold;
  font-size: 40px;
}

.weather {
  color: black;
  font-weight: 100;
  display: flex;
  position: relative;
  top: 40px;
  right: -60px;
  text-align: center;
}

.weather-app {
  background-color: #fce289;
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  padding-bottom: 200px;
}

.emoji {
  display: flex;
  position: relative;
  top: -30px;
  left: -25px;
  font-size: 75px;
}

.number {
  padding-top: 50px;
  padding-right: 20px;
  display: flex;
  position: relative;
  right: -70px;
  top: 30px;
}

.symbol {
  display: flex;
  position: relative;
  top: 70px;
  right: 48px;
  font-weight: lighter;
  font-size: 20px;
}

.container {
  background-color: white;
  margin: 20px auto;
  max-width: 300px;
  padding: 20px;

  border-radius: 10px;
  padding-bottom: 200px;
}

.button:hover {
  cursor: pointer;
}

.weather-container {
  background-color: white;
  padding: 10px 20px 10px 20px;

  border-radius: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-gap: 20px;
  text-align: center;
}

.conditions {
  margin-top: 20px;
  margin-left: 45px;
}

.weather-description {
  margin-left: 10px;
}

.condition-container {
  margin-top: 20px;
}
input {
  background-color: #531116;
  color: white;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
}
